In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/train.csv')
pd.set_option('display.max_columns', 70)
pd.set_option('display.max_rows', 70)

In [ ]:
data.shape

(87642, 67)

In [ ]:
data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,year,Release Clause,DefensiveAwareness
0,0,195427,J. Stockley,22,https://cdn.sofifa.com/players/195/427/17_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,61,68,Aberdeen,https://cdn.sofifa.com/teams/77/light_30.png,€325K,€2K,1399,Right,1.0,3.0,2.0,Medium/ Low,Normal (185+),No,"<span class=""pos pos28"">SUB",17.0,"Jul 1, 2016",NaN,2018,6'2,174lbs,31.0,64.0,69.0,46.0,29.0,51.0,33.0,29.0,38.0,57.0,70.0,67.0,57.0,52.0,45.0,64.0,62.0,51.0,75.0,43.0,61.0,37.0,59.0,31.0,63.0,32.0,16.0,25.0,18.0,14.0,6.0,15.0,9.0,12.0,ST,60.0,2017,NaN,NaN
1,1,203539,K. Devaney,25,https://cdn.sofifa.com/players/203/539/17_60.png,Republic of Ireland,https://cdn.sofifa.com/flags/ie.png,57,58,Galway United,https://cdn.sofifa.com/teams/1571/light_30.png,€140K,€500,1482,Right,1.0,4.0,2.0,High/ Medium,Normal (170-185),No,"<span class=""pos pos16"">LM",14.0,"Jan 18, 2016",NaN,2017,5'10,154lbs,61.0,58.0,49.0,51.0,45.0,59.0,53.0,51.0,49.0,58.0,61.0,62.0,61.0,52.0,52.0,54.0,60.0,55.0,56.0,55.0,35.0,26.0,52.0,55.0,55.0,51.0,29.0,38.0,37.0,6.0,12.0,13.0,12.0,10.0,RM,57.0,2017,NaN,NaN
2,2,232898,T. Morishima,23,https://cdn.sofifa.com/players/232/898/20_60.png,Japan,https://cdn.sofifa.com/flags/jp.png,71,76,Sanfrecce Hiroshima,https://cdn.sofifa.com/teams/113157/light_30.png,€3.2M,€7K,1820,Right,1.0,3.0,3.0,Medium/ Low,Lean (170-185),No,"<span class=""pos pos22"">LF",10.0,"Jan 1, 2016",NaN,2022,5'9,146lbs,70.0,67.0,49.0,72.0,56.0,70.0,68.0,70.0,71.0,72.0,77.0,75.0,74.0,69.0,72.0,68.0,62.0,69.0,59.0,70.0,53.0,51.0,71.0,75.0,56.0,66.0,NaN,36.0,31.0,13.0,15.0,6.0,15.0,6.0,CAM,74.0,2021,€4.2M,32.0
3,3,215502,B. Drągowski,18,https://cdn.sofifa.com/players/215/502/17_60.png,Poland,https://cdn.sofifa.com/flags/pl.png,71,86,Fiorentina,https://cdn.sofifa.com/teams/110374/light_30.png,€2.9M,€10K,1162,Right,1.0,2.0,1.0,Medium/ Medium,Lean (185+),No,"<span class=""pos pos29"">RES",97.0,"Jul 4, 2016",NaN,2021,6'3,190lbs,19.0,12.0,13.0,35.0,12.0,20.0,12.0,20.0,32.0,18.0,46.0,42.0,33.0,72.0,54.0,18.0,57.0,34.0,56.0,18.0,19.0,21.0,15.0,62.0,21.0,22.0,18.0,16.0,16.0,68.0,68.0,70.0,71.0,74.0,GK,70.0,2017,NaN,NaN
4,4,222263,N. Jackers,19,https://cdn.sofifa.com/players/222/263/18_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,64,75,KRC Genk,https://cdn.sofifa.com/teams/673/light_30.png,€575K,€2K,1053,Right,1.0,2.0,1.0,Medium/ Medium,Lean (185+),No,"<span class=""pos pos28"">SUB",30.0,"Apr 11, 2014",NaN,2021,6'1,174lbs,13.0,17.0,15.0,27.0,14.0,12.0,15.0,18.0,24.0,15.0,41.0,46.0,48.0,62.0,52.0,25.0,63.0,28.0,48.0,19.0,21.0,8.0,12.0,32.0,28.0,27.0,10.0,15.0,12.0,65.0,64.0,59.0,60.0,65.0,GK,63.0,2018,€978K,NaN

In [ ]:
data.tail()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,year,Release Clause,DefensiveAwareness
87637,87637,188278,M. Birighitti,25,https://cdn.sofifa.com/players/188/278/17_60.png,Australia,https://cdn.sofifa.com/flags/au.png,68,73,Swansea City,https://cdn.sofifa.com/teams/1960/light_30.png,€950K,€20K,1092,Right,1.0,2.0,1.0,Medium/ Medium,Normal (185+),No,"<span class=""pos pos29"">RES",19.0,"Jul 20, 2016",NaN,2018,6'2,185lbs,12.0,11.0,11.0,29.0,15.0,13.0,12.0,11.0,17.0,16.0,46.0,50.0,67.0,59.0,41.0,19.0,67.0,32.0,62.0,12.0,33.0,23.0,9.0,33.0,14.0,31.0,11.0,14.0,14.0,70.0,65.0,64.0,67.0,73.0,GK,67.0,2017,NaN,NaN
87638,87638,239649,D. Marino,28,https://cdn.sofifa.com/players/239/649/18_60.png,Italy,https://cdn.sofifa.com/flags/it.png,58,58,Ternana,https://cdn.sofifa.com/teams/570/light_30.png,€100K,€1K,1245,Left,1.0,3.0,2.0,High/ Low,Stocky (170-185),No,"<span class=""pos pos29"">RES",18.0,"Jul 1, 2017",NaN,2018,5'10,154lbs,24.0,21.0,45.0,29.0,26.0,31.0,31.0,24.0,26.0,40.0,52.0,62.0,41.0,42.0,55.0,37.0,71.0,60.0,68.0,21.0,58.0,58.0,24.0,30.0,42.0,52.0,62.0,62.0,61.0,7.0,7.0,12.0,7.0,9.0,CB,57.0,2018,€155K,NaN
87639,87639,258958,O. Filippov,27,https://cdn.sofifa.com/players/258/958/20_60.png,Ukraine,https://cdn.sofifa.com/flags/ua.png,69,69,Sint-Truidense VV,https://cdn.sofifa.com/teams/680/light_30.png,€1.1M,€8K,1617,Right,1.0,3.0,2.0,Medium/ Medium,Normal (170-185),No,"<span class=""pos pos28"">SUB",11.0,"Sep 22, 2020",NaN,2023,6'0,165lbs,46.0,73.0,67.0,61.0,69.0,68.0,63.0,56.0,41.0,68.0,66.0,68.0,63.0,66.0,61.0,70.0,65.0,64.0,70.0,66.0,46.0,16.0,72.0,51.0,75.0,74.0,NaN,18.0,16.0,6.0,9.0,5.0,9.0,8.0,ST,69.0,2021,€1.6M,15.0
87640,87640,240097,F. Downes,20,https://cdn.sofifa.com/players/240/097/20_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,66,72,Ipswich Town,https://cdn.sofifa.com/teams/94/light_30.png,€875K,€3K,1794,Right,1.0,3.0,2.0,High/ High,Lean (170-185),No,"<span class=""pos pos15"">LCM",21.0,"May 1, 2017",NaN,2022,5'8,154lbs,61.0,44.0,58.0,69.0,32.0,63.0,49.0,55.0,67.0,68.0,67.0,68.0,67.0,66.0,77.0,54.0,65.0,74.0,65.0,56.0,82.0,68.0,56.0,59.0,48.0,63.0,NaN,72.0,69.0,13.0,12.0,14.0,11.0,6.0,CDM,70.0,2020,€1.7M,59.0
87641,87641,219527,C. Mafla,26,https://cdn.sofifa.com/players/219/527/20_60.png,Colombia,https://cdn.sofifa.com/flags/co.png,67,68,Atlético Nacional,https://cdn.sofifa.com/teams/101100/light_30.png,€775K,€2K,1635,Left,1.0,3.0,2.0,High/ Medium,Normal (170-185),No,"<span class=""pos pos7"">LB",32.0,"Jun 29, 2017",NaN,2020,5'9,161lbs,59.0,36.0,61.0,60.0,27.0,64.0,38.0,42.0,40.0,55.0,59.0,68.0,72.0,64.0,73.0,34.0,75.0,77.0,68.0,28.0,65.0,71.0,55.0,39.0,48.0,60.0,NaN,68.0,71.0,7.0,15.0,11.0,8.0,13.0,LB,67.0,2020,€1.1M,64.0

In [ ]:
data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'year', 'Release Clause',
       'DefensiveAwareness'],
      dtype='object')

In [ ]:
selected_columns = ['Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value',
                    'Wage', 'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot',
                    'Skill Moves', 'Work Rate', 'Body Type', 'Position', 'Height', 'Weight','Crossing',
                    'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
                    'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
                    'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
                    'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
                    'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
                    'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
                    'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause']

df = pd.DataFrame(data, columns = selected_columns)
df.columns

Index(['Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value',
       'Wage', 'Special', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Position',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [ ]:
df.sample(5)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
32558,J. Amione,27,Mexico,68,68,Lobos BUAP,€950K,€7K,1698,Left,1.0,3.0,2.0,Medium/ Medium,Normal (170-185),"<span class=""pos pos29"">RES",5'8,170lbs,63.0,70.0,60.0,64.0,60.0,68.0,64.0,38.0,53.0,66.0,70.0,71.0,73.0,66.0,74.0,68.0,83.0,66.0,75.0,67.0,86.0,21.0,65.0,52.0,50.0,56.0,15.0,18.0,26.0,8.0,9.0,6.0,15.0,8.0,€1.6M
68403,Jung Sung Ryong,32,Korea Republic,71,71,Kawasaki Frontale,€1.4M,€6K,1050,Right,2.0,3.0,1.0,Medium/ Medium,Normal (185+),"<span class=""pos pos0"">GK",6'3,198lbs,10.0,12.0,14.0,32.0,17.0,12.0,19.0,11.0,33.0,14.0,41.0,49.0,14.0,70.0,43.0,18.0,45.0,25.0,41.0,16.0,31.0,25.0,14.0,39.0,12.0,52.0,15.0,11.0,12.0,70.0,66.0,78.0,69.0,72.0,€1.8M
25590,L. Dietz,20,Germany,61,73,1. FC Union Berlin,€400K,€5K,1493,Right,1.0,2.0,2.0,Medium/ Medium,Lean (185+),"<span class=""pos pos28"">SUB",6'3,174lbs,43.0,29.0,61.0,63.0,34.0,52.0,32.0,35.0,57.0,57.0,59.0,61.0,54.0,61.0,47.0,56.0,45.0,64.0,67.0,37.0,65.0,60.0,37.0,46.0,38.0,41.0,57.0,61.0,54.0,14.0,7.0,14.0,13.0,13.0,€720K
47265,J. Quiñonez,18,Paraguay,54,68,Club Libertad,€130K,€500,1266,Right,1.0,2.0,2.0,Low/ Medium,Lean (185+),"<span class=""pos pos28"">SUB",6'2,194lbs,27.0,23.0,51.0,55.0,27.0,35.0,26.0,19.0,45.0,45.0,57.0,63.0,43.0,44.0,45.0,40.0,72.0,55.0,80.0,21.0,42.0,49.0,24.0,31.0,34.0,37.0,NaN,52.0,50.0,6.0,13.0,8.0,15.0,14.0,€367K
18087,J. Paganoni,29,Mexico,69,69,Tiburones Rojos de Veracruz,€800K,€5K,1823,Right,1.0,3.0,3.0,Medium/ Medium,Lean (170-),"<span class=""pos pos3"">RB",5'7,143lbs,68.0,52.0,52.0,65.0,52.0,66.0,48.0,41.0,62.0,69.0,79.0,77.0,76.0,63.0,77.0,64.0,73.0,79.0,57.0,56.0,70.0,64.0,60.0,54.0,52.0,62.0,66.0,67.0,65.0,10.0,10.0,15.0,6.0,8.0,€1.3M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87642 entries, 0 to 87641
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      87642 non-null  object
 1   Age                       87642 non-null  int64
 2   Nationality               87642 non-null  object
 3   Overall                   87642 non-null  int64
 4   Potential                 87642 non-null  int64
 5   Club                      86196 non-null  object
 6   Value                     87642 non-null  object
 7   Wage                      87642 non-null  object
 8   Special                   87642 non-null  int64
 9   Preferred Foot            87642 non-null  object
 10  International Reputation  87642 non-null  float64
 11  Weak Foot                 87642 non-null  float64
 12  Skill Moves               87642 non-null  float64
 13  Work Rate                 87642 non-null  object
 14  Body Type                 87590 non-null  object
 15  Position                  87551 non-null  object
 16  Height                    87642 non-null  object
 17  Weight                    87642 non-null  object
 18  Crossing                  87642 non-null  float64
 19  Finishing                 87642 non-null  float64
 20  HeadingAccuracy           87642 non-null  float64
 21  ShortPassing              87642 non-null  float64
 22  Volleys                   87564 non-null  float64
 23  Dribbling                 87642 non-null  float64
 24  Curve                     87564 non-null  float64
 25  FKAccuracy                87642 non-null  float64
 26  LongPassing               87642 non-null  float64
 27  BallControl               87642 non-null  float64
 28  Acceleration              87642 non-null  float64
 29  SprintSpeed               87642 non-null  float64
 30  Agility                   87564 non-null  float64
 31  Reactions                 87642 non-null  float64
 32  Balance                   87564 non-null  float64
 33  ShotPower                 87642 non-null  float64
 34  Jumping                   87564 non-null  float64
 35  Stamina                   87642 non-null  float64
 36  Strength                  87642 non-null  float64
 37  LongShots                 87642 non-null  float64
 38  Aggression                87642 non-null  float64
 39  Interceptions             87635 non-null  float64
 40  Positioning               87635 non-null  float64
 41  Vision                    87564 non-null  float64
 42  Penalties                 87642 non-null  float64
 43  Composure                 86935 non-null  float64
 44  Marking                   56058 non-null  float64
 45  StandingTackle            87642 non-null  float64
 46  SlidingTackle             87564 non-null  float64
 47  GKDiving                  87642 non-null  float64
 48  GKHandling                87642 non-null  float64
 49  GKKicking                 87642 non-null  float64
 50  GKPositioning             87642 non-null  float64
 51  GKReflexes                87642 non-null  float64
 52  Release Clause            62547 non-null  object
dtypes: float64(37), int64(4), object(12)
memory usage: 35.4+ MB

In [ ]:
df.describe()

,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000,87564.000000,87642.000000,87564.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.00000,87564.000000,87642.000000,87564.000000,87642.000000,87564.000000,87642.000000,87642.000000,87642.000000,87642.000000,87635.000000,87635.000000,87564.000000,87642.000000,86935.000000,56058.000000,87642.000000,87564.000000,87642.000000,87642.000000,87642.000000,87642.000000,87642.000000
mean,24.622704,66.378357,71.705484,1604.739691,1.124917,2.955581,2.372413,50.280744,46.140173,52.593049,59.051094,43.546035,56.017526,47.889452,43.301773,53.071404,58.925207,65.097602,65.23653,63.688959,61.985886,64.205564,56.898941,64.873224,63.176993,65.043233,47.623194,56.043198,46.624442,50.564341,53.831563,49.099941,58.212193,45.175408,47.708427,45.690181,16.345040,16.140880,16.029518,16.154412,16.444011
std,4.741906,7.044130,6.060385,271.011758,0.415253,0.664133,0.765687,18.266537,19.512988,17.295609,14.612224,17.741752,18.738349,18.385361,17.514826,15.286048,16.585114,14.772234,14.50005,14.620899,9.221359,13.993775,16.119877,11.684398,15.622759,12.594805,19.232334,17.309710,20.750422,19.434260,14.139693,15.784882,12.414330,21.079911,21.648886,21.295868,17.464377,16.699853,16.363951,16.852900,17.743420
min,15.000000,28.000000,38.000000,571.000000,1.000000,1.000000,1.000000,5.000000,2.000000,4.000000,7.000000,3.000000,4.000000,4.000000,3.000000,5.000000,5.000000,11.000000,11.00000,11.000000,24.000000,10.000000,2.000000,15.000000,10.000000,16.000000,3.000000,2.000000,3.000000,2.000000,9.000000,5.000000,5.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,62.000000,67.000000,1461.000000,1.000000,3.000000,2.000000,39.000000,30.000000,45.000000,54.000000,31.000000,50.000000,35.000000,31.000000,43.000000,55.000000,58.000000,58.00000,56.000000,56.000000,56.000000,47.000000,58.000000,56.000000,58.000000,33.000000,44.000000,26.000000,40.000000,44.000000,39.000000,50.000000,25.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,24.000000,66.000000,72.000000,1639.000000,1.000000,3.000000,2.000000,55.000000,50.000000,56.000000,62.000000,45.000000,61.000000,49.000000,42.000000,56.000000,63.000000,68.000000,68.00000,66.000000,62.000000,66.000000,60.000000,66.000000,66.000000,66.000000,52.000000,59.000000,52.000000,55.000000,55.000000,50.000000,59.000000,50.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,28.000000,71.000000,76.000000,1793.000000,1.000000,3.000000,3.000000,64.000000,62.000000,65.000000,68.000000,57.000000,68.000000,62.000000,57.000000,64.000000,69.000000,75.000000,75.00000,74.000000,68.000000,74.000000,69.000000,73.000000,74.000000,74.000000,63.000000,69.000000,64.000000,65.000000,64.000000,61.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,53.000000,94.000000,95.000000,2349.000000,5.000000,5.000000,5.000000,94.000000,95.000000,94.000000,94.000000,93.000000,97.000000,94.000000,94.000000,93.000000,96.000000,97.000000,96.00000,96.000000,96.000000,99.000000,95.000000,95.000000,97.000000,98.000000,94.000000,96.000000,95.000000,96.000000,95.000000,96.000000,97.000000,94.000000,93.000000,95.000000,91.000000,92.000000,95.000000,93.000000,93.000000

In [ ]:
df.duplicated().sum()

376

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.isnull().sum()

Name                            0
Age                             0
Nationality                     0
Overall                         0
Potential                       0
Club                         1416
Value                           0
Wage                            0
Special                         0
Preferred Foot                  0
International Reputation        0
Weak Foot                       0
Skill Moves                     0
Work Rate                       0
Body Type                      46
Position                       84
Height                          0
Weight                          0
Crossing                        0
Finishing                       0
HeadingAccuracy                 0
ShortPassing                    0
Volleys                        68
Dribbling                       0
Curve                          68
FKAccuracy                      0
LongPassing                     0
BallControl                     0
Acceleration                    0
SprintSpeed                     0
Agility                        68
Reactions                       0
Balance                        68
ShotPower                       0
Jumping                        68
Stamina                         0
Strength                        0
LongShots                       0
Aggression                      0
Interceptions                   7
Positioning                     7
Vision                         68
Penalties                       0
Composure                     600
Marking                     31582
StandingTackle                  0
SlidingTackle                  68
GKDiving                        0
GKHandling                      0
GKKicking                       0
GKPositioning                   0
GKReflexes                      0
Release Clause              24915
dtype: int64

In [ ]:
df['Club'].fillna('Nothing', inplace = True)

In [ ]:
df['Body Type'] = df['Body Type'].astype('string')

In [ ]:
def body_type(body_type):
    if pd.isnull(body_type):
        return np.nan
    elif 'Normal' in body_type:
        return 'Normal'
    elif 'Lean' in body_type:
        return 'Lean'
    elif 'Stocky' in body_type:
        return 'Stocky'
    else:
        return np.nan

In [ ]:
df['Body Type'] = df['Body Type'].apply(body_type)

In [ ]:
df['Body Type'].fillna('Normal', inplace = True)

In [ ]:
df['Body Type'].value_counts()

Normal    50745
Lean      31108
Stocky     5413
Name: Body Type, dtype: int64

In [ ]:
df['Position'].unique()

array(['<span class="pos pos28">SUB', '<span class="pos pos16">LM',
       '<span class="pos pos22">LF', '<span class="pos pos29">RES',
       '<span class="pos pos10">CDM', '<span class="pos pos4">RCB',
       '<span class="pos pos0">GK', '<span class="pos pos11">LDM',
       '<span class="pos pos24">RS', '<span class="pos pos6">LCB',
       '<span class="pos pos9">RDM', '<span class="pos pos2">RWB',
       '<span class="pos pos25">ST', '<span class="pos pos3">RB',
       '<span class="pos pos15">LCM', '<span class="pos pos26">LS',
       '<span class="pos pos23">RW', '<span class="pos pos14">CM',
       '<span class="pos pos27">LW', '<span class="pos pos18">CAM',
       '<span class="pos pos12">RM', '<span class="pos pos8">LWB',
       '<span class="pos pos21">CF', '<span class="pos pos13">RCM',
       '<span class="pos pos7">LB', '<span class="pos pos5">CB',
       '<span class="pos pos17">RAM', '<span class="pos pos19">LAM', nan,
       '<span class="pos pos20">RF'], dtype=object)

In [ ]:
def extract_position(position):
    if pd.isnull(position):
        return np.nan
    else:
        position = position.replace('<span class="pos pos', '').replace('">', '')
        position = ''.join([char for char in position if not char.isdigit()])
        return position

df['Position'] = df['Position'].apply(extract_position)

In [ ]:
df['Position'].fillna('ST', inplace = True)

In [ ]:
df['Position'].unique()

array(['SUB', 'LM', 'LF', 'RES', 'CDM', 'RCB', 'GK', 'LDM', 'RS', 'LCB',
       'RDM', 'RWB', 'ST', 'RB', 'LCM', 'LS', 'RW', 'CM', 'LW', 'CAM',
       'RM', 'LWB', 'CF', 'RCM', 'LB', 'CB', 'RAM', 'LAM', 'RF'],
      dtype=object)

In [ ]:
df['Volleys'].fillna(df['Volleys'].mean(), inplace = True)

In [ ]:
df['Curve'].fillna(df['Curve'].mean(), inplace = True)

In [ ]:
df['Agility'].fillna(df['Agility'].mean(), inplace = True)

In [ ]:
df['Balance'].fillna(df['Balance'].mean(), inplace = True)

In [ ]:
df['Jumping'].fillna(df['Jumping'].mean(), inplace = True)

In [ ]:
df['Interceptions'].fillna(df['Interceptions'].mean(), inplace = True)

In [ ]:
df['Positioning'].fillna(df['Positioning'].mean(), inplace = True)

In [ ]:
df['Composure'].fillna(df['Composure'].mean(), inplace = True)

In [ ]:
df['Vision'].fillna(df['Vision'].mean(), inplace = True)

In [ ]:
df['Marking'].fillna(df['Marking'].mean(), inplace = True)

In [ ]:
df['SlidingTackle'].fillna(df['SlidingTackle'].mean(), inplace = True)

In [ ]:
df['Release Clause'] = df['Release Clause'].str.replace('€', '').str.replace('.','').str.replace('K', '000').str.replace('M', '000000')

<ipython-input-216-9d9c2c913c42>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Release Clause'] = df['Release Clause'].str.replace('€', '').str.replace('.','').str.replace('K', '000').str.replace('M', '000000')

In [ ]:
df['Release Clause'] = pd.to_numeric(df['Release Clause'], errors='coerce')

In [ ]:
df['Release Clause'] = df['Release Clause'].fillna(round(df['Release Clause'].mean(),2))

In [ ]:
df['Release Clause'].unique()

array([4.18882864e+07, 4.20000000e+07, 9.78000000e+05, ...,
       5.99000000e+05, 6.68000000e+08, 7.84000000e+08])

In [ ]:
df.isnull().sum()

Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Wage                        0
Special                     0
Preferred Foot              0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Work Rate                   0
Body Type                   0
Position                    0
Height                      0
Weight                      0
Crossing                    0
Finishing                   0
HeadingAccuracy             0
ShortPassing                0
Volleys                     0
Dribbling                   0
Curve                       0
FKAccuracy                  0
LongPassing                 0
BallControl                 0
Acceleration                0
SprintSpeed                 0
Agility                     0
Reactions                   0
Balance                     0
ShotPower                   0
Jumping                     0
Stamina                     0
Strength                    0
LongShots                   0
Aggression                  0
Interceptions               0
Positioning                 0
Vision                      0
Penalties                   0
Composure                   0
Marking                     0
StandingTackle              0
SlidingTackle               0
GKDiving                    0
GKHandling                  0
GKKicking                   0
GKPositioning               0
GKReflexes                  0
Release Clause              0
dtype: int64

In [ ]:
df.describe()

,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
count,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.00000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,87266.000000,8.726600e+04
mean,24.604462,66.354308,71.689478,1604.148809,1.121651,2.954599,2.370969,50.245021,46.102136,52.565237,59.016180,43.493394,55.98147,47.840650,43.255850,53.034905,58.884617,65.102216,65.243818,63.680658,61.958151,64.197390,56.858960,64.875181,63.192022,65.034229,47.579630,56.022517,46.609840,50.526009,53.793470,49.049859,58.187236,45.164194,47.702725,45.686644,16.355133,16.148832,16.034721,16.161506,16.452662,4.188829e+07
std,4.725638,7.035005,6.056077,270.954469,0.408590,0.663424,0.764715,18.260427,19.506197,17.290437,14.606974,17.711856,18.73790,18.360696,17.490771,15.275591,16.578522,14.766824,14.494734,14.613964,9.210768,13.986895,16.109507,11.672762,15.624737,12.590452,19.221305,17.304580,20.737266,19.426175,14.118937,15.757534,12.363109,16.829968,21.641169,21.279586,17.470247,16.704691,16.364193,16.856677,17.751190,9.023934e+07
min,15.000000,28.000000,38.000000,571.000000,1.000000,1.000000,1.000000,5.000000,2.000000,4.000000,7.000000,3.000000,4.00000,4.000000,3.000000,5.000000,5.000000,11.000000,11.000000,11.000000,24.000000,10.000000,2.000000,15.000000,10.000000,16.000000,3.000000,2.000000,3.000000,2.000000,9.000000,5.000000,5.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000e+03
25%,21.000000,62.000000,67.000000,1461.000000,1.000000,3.000000,2.000000,39.000000,30.000000,45.000000,54.000000,31.000000,50.00000,35.000000,31.000000,43.000000,54.000000,58.000000,58.000000,56.000000,56.000000,56.000000,47.000000,58.000000,56.000000,58.000000,33.000000,44.000000,26.000000,40.000000,44.000000,39.000000,51.000000,38.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.235000e+05
50%,24.000000,66.000000,71.000000,1639.000000,1.000000,3.000000,2.000000,55.000000,50.000000,56.000000,62.000000,44.000000,61.00000,49.000000,42.000000,56.000000,63.000000,68.000000,68.000000,66.000000,62.000000,66.000000,60.000000,66.000000,66.000000,66.000000,52.000000,59.000000,52.000000,55.000000,55.000000,50.000000,59.000000,45.164194,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,2.400000e+07
75%,28.000000,71.000000,76.000000,1793.000000,1.000000,3.000000,3.000000,64.000000,62.000000,65.000000,68.000000,57.000000,68.00000,62.000000,57.000000,64.000000,69.000000,75.000000,75.000000,74.000000,68.000000,74.000000,69.000000,73.000000,74.000000,74.000000,63.000000,69.000000,64.000000,65.000000,64.000000,61.000000,67.000000,57.750000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,4.188829e+07
max,53.000000,94.000000,95.000000,2349.000000,5.000000,5.000000,5.000000,94.000000,95.000000,94.000000,94.000000,93.000000,97.00000,94.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,99.000000,95.000000,95.000000,97.000000,98.000000,94.000000,96.000000,95.000000,96.000000,95.000000,96.000000,97.000000,94.000000,93.000000,95.000000,91.000000,92.000000,95.000000,93.000000,93.000000,2.429000e+09

In [ ]:
df['Nationality'].nunique()

182

In [ ]:
df['Club'].nunique()

947

In [ ]:
def extract_value(Value):
    out = Value.replace('€', '')
    if 'M' in out:
        out = float(out.replace('M', ''))*1000000
    elif 'K' in Value:
        out = float(out.replace('K', ''))*1000
    return float(out)


df['Value'] = df['Value'].apply(lambda x: extract_value(x))
df['Wage'] = df['Wage'].apply(lambda x: extract_value(x))

In [ ]:
df.sort_values(by='Value',ascending = False)[['Name','Age','Club','Nationality','Value','Position']].head()

             Name  Age                 Club Nationality        Value Position
18233      Neymar   25  Paris Saint-Germain      Brazil  119500000.0       LW
6789     L. Messi   30         FC Barcelona   Argentina  118500000.0       RS
24615    L. Messi   31         FC Barcelona   Argentina  110500000.0       RW
20136   Neymar Jr   26  Paris Saint-Germain      Brazil  108000000.0      LAM
80514      Neymar   24         FC Barcelona      Brazil  106000000.0       LW

In [ ]:
df[(df['Skill Moves'] == 5)][['Name','Nationality','Club','Overall','Skill Moves','Position']].head()

,Name,Nationality,Club,Overall,Skill Moves,Position
99,M. Elyounoussi,Norway,FC Basel 1893,77,5.0,RM
165,Élton,Brazil,Al Qadisiyah,74,5.0,RM
288,Thiago,Spain,FC Bayern München,87,5.0,LCM
577,Q. Promes,Netherlands,Ajax,83,5.0,LAM
867,Quaresma,Portugal,Kasimpaşa SK,79,5.0,LM

In [ ]:
df.sort_values(by='Wage',ascending = False)[['Name','Age','Club','Nationality','Wage','Position']].head()

                     Name  Age          Club Nationality      Wage Position
45861   Cristiano Ronaldo   32   Real Madrid    Portugal  575000.0       LW
24615            L. Messi   31  FC Barcelona   Argentina  575000.0       RW
20313   Cristiano Ronaldo   31   Real Madrid    Portugal  575000.0       LW
47140            L. Messi   29  FC Barcelona   Argentina  575000.0       RW
6789             L. Messi   30  FC Barcelona   Argentina  575000.0       RS

In [ ]:
df[df['Preferred Foot'] == 'Left'][['Name', 'Age', 'Club', 'Nationality']].head()

            Name  Age                  Club Nationality
7      J. Scholz   20  1. FC Kaiserslautern     Germany
15     E. Robson   23             Blackpool     England
24       R. Kehr   18     Borussia Dortmund     Germany
30   W. Kurtovic   22    Sandefjord Fotball      Sweden
35       A. Albu   26              UTA Arad     Romania

In [ ]:
df[df['Preferred Foot'] == 'Right'][['Name', 'Age', 'Club', 'Nationality']].head()

            Name  Age                 Club          Nationality
0    J. Stockley   22             Aberdeen              England
1     K. Devaney   25        Galway United  Republic of Ireland
2   T. Morishima   23  Sanfrecce Hiroshima                Japan
3   B. Drągowski   18           Fiorentina               Poland
4     N. Jackers   19             KRC Genk              Belgium

In [ ]:
columns = ['Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
           'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
           'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
           'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
           'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
           'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
           'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes']

for col in columns:
    max_value = df[col].max()
    max_player = df.loc[df[col].idxmax()][0]
    print(f'Best {col}: {max_player} ({max_value})')

Best Crossing:  K. De Bruyne (94.0)
Best Finishing:  L. Messi (95.0)
Best HeadingAccuracy:  Aduriz (94.0)
Best ShortPassing:  K. De Bruyne (94.0)
Best Volleys:  Z. Ibrahimović (93.0)
Best Dribbling:  L. Messi (97.0)
Best Curve:  Quaresma (94.0)
Best FKAccuracy:  L. Messi (94.0)
Best LongPassing:  T. Kroos (93.0)
Best BallControl:  L. Messi (96.0)
Best Acceleration:  Adama Traoré (97.0)
Best SprintSpeed:  K. Mbappé (96.0)
Best Agility:  C. Bermúdez (96.0)
Best Reactions:  Cristiano Ronaldo (96.0)
Best Balance:  C. Johnston (99.0)
Best ShotPower:  Cristiano Ronaldo (95.0)
Best Jumping:  Cristiano Ronaldo (95.0)
Best Stamina:  N. Kanté (97.0)
Best Strength:  A. Akinfenwa (98.0)
Best LongShots:  L. Messi (94.0)
Best Aggression:  D. Pipe (96.0)
Best Interceptions:  09 P. Maldini (95.0)
Best Positioning:  09 P. Maldini (96.0)
Best Vision:  L. Messi (95.0)
Best Penalties:  R. Lambert (96.0)
Best Composure:  L. Messi (97.0)
Best Marking:  19 A. Barzagli (94.0)
Best StandingTackle:  V. van Dijk (93.0)
Best SlidingTackle:  17 P. Lahm (95.0)
Best GKDiving:  M. Neuer (91.0)
Best GKHandling:  J. Oblak (92.0)
Best GKKicking:  M. Neuer (95.0)
Best GKPositioning:  11 E. van der Sar (93.0)
Best GKReflexes:  De Gea (93.0)

In [ ]:
print(df['Position'].unique())
print(df['Position'].value_counts())

['SUB' 'LM' 'LF' 'RES' 'CDM' 'RCB' 'GK' 'LDM' 'RS' 'LCB' 'RDM' 'RWB' 'ST'
 'RB' 'LCM' 'LS' 'RW' 'CM' 'LW' 'CAM' 'RM' 'LWB' 'CF' 'RCM' 'LB' 'CB'
 'RAM' 'LAM' 'RF']
SUB    37519
RES    15474
RCB     3059
LCB     3053
GK      2981
RB      2600
LB      2599
ST      2286
RM      2081
LM      2041
LCM     1870
RCM     1860
CAM     1534
LDM     1185
RDM     1174
LS      1019
RS      1017
CDM      723
LW       687
RW       680
CB       482
CM       332
LWB      288
RWB      285
RAM      126
LAM      116
LF        70
RF        68
CF        57
Name: Position, dtype: int64

In [ ]:
def position_simplifier(val):

    if val == 'RF' or val == 'ST' or val == 'LF' or val == 'RS' or val == 'LS' or val == 'CF' or val == 'RW' or val == 'LW':
        val = 'F'
        return val

    elif val == 'RCM' or val == 'LCM' or val == 'LDM' or val == 'CAM' or val == 'CDM' or val == 'RM' or val == 'LAM' or val == 'LM' or val == 'RDM' or val == 'CM' or val == 'RAM':
        val = 'M'
        return val


    elif val == 'RCB' or val == 'CB' or val == 'LCB' or val == 'LB' or val == 'RB' or val == 'RWB' or val == 'LWB':
        val = 'D'
        return val

    else:
        return val

df['Position'] = df['Position'].apply(position_simplifier)

In [ ]:
df['Position'].value_counts()

SUB    37519
RES    15474
M      13042
D      12366
F       5884
GK      2981
Name: Position, dtype: int64

In [ ]:
df[(df['Position'] == 'SUB') & (df['Overall'] > 90)]

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
30307,E. Hazard,28,Belgium,91,91,Real Madrid,90000000.0,470000.0,2145,Right,4.0,4.0,4.0,High/ Medium,Normal,SUB,5'9,163lbs,81.0,84.0,61.0,89.0,83.0,95.0,83.0,79.0,83.0,94.0,94.0,88.0,95.0,90.0,94.0,82.0,56.0,84.0,63.0,80.0,54.0,41.0,87.0,89.0,88.0,91.0,45.164194,27.0,22.0,11.0,12.0,6.0,8.0,8.0,1.845000e+09
33000,M. Neuer,31,Germany,92,92,FC Bayern München,61000000.0,225000.0,1487,Right,5.0,4.0,1.0,Medium/ Medium,Normal,SUB,6'4,203lbs,15.0,13.0,25.0,55.0,11.0,30.0,14.0,11.0,59.0,48.0,56.0,60.0,51.0,85.0,35.0,25.0,77.0,43.0,83.0,16.0,29.0,30.0,12.0,70.0,47.0,70.0,10.000000,10.0,11.0,91.0,90.0,95.0,91.0,89.0,1.007000e+09
79303,M. Neuer,30,Germany,92,92,FC Bayern München,69500000.0,225000.0,1491,Right,5.0,4.0,1.0,Medium/ Medium,Normal,SUB,6'4,203lbs,15.0,13.0,25.0,55.0,11.0,30.0,14.0,11.0,59.0,48.0,58.0,61.0,52.0,85.0,35.0,25.0,78.0,44.0,83.0,16.0,29.0,30.0,12.0,70.0,47.0,70.0,10.000000,10.0,11.0,89.0,90.0,95.0,91.0,89.0,4.188829e+07

In [ ]:
df[(df['Position'] == 'RES') & (df['Overall'] > 85)]

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
13546,A. Di María,32,Argentina,87,87,Paris Saint-Germain,39000000.0,160000.0,2168,Left,4.0,2.0,5.0,High/ Medium,Normal,RES,5'11,152lbs,88.0,79.0,51.0,83.0,78.0,88.0,89.0,88.0,80.0,87.0,82.0,83.0,94.0,84.0,76.0,83.0,72.0,78.0,60.0,86.0,73.0,42.0,84.0,88.0,73.0,86.0,45.164194,55.0,52.0,10.0,7.0,11.0,12.0,11.0,722000000.0

In [ ]:
df[(df['Position'] == 'M') & (df['Overall'] > 90)].head(5)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
505,K. De Bruyne,28,Belgium,91,91,Manchester City,90000000.0,370000.0,2289,Right,4.0,5.0,4.0,High/ High,Normal,M,5'11,154lbs,94.0,82.0,55.0,92.0,82.0,87.0,85.0,83.0,91.0,91.0,77.0,76.0,78.0,91.0,76.0,91.0,63.0,89.0,74.0,90.0,76.0,63.0,88.0,94.0,82.0,91.0,45.164194,62.0,53.0,15.0,13.0,5.0,10.0,13.0,1.665000e+09
15872,K. De Bruyne,27,Belgium,91,91,Manchester City,93000000.0,350000.0,2279,Right,4.0,5.0,4.0,High/ High,Normal,M,5'11,154lbs,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,89.0,75.0,90.0,76.0,61.0,87.0,94.0,79.0,90.0,68.000000,58.0,51.0,15.0,13.0,5.0,10.0,13.0,1.721000e+09
20136,Neymar Jr,26,Brazil,92,92,Paris Saint-Germain,108000000.0,300000.0,2150,Right,5.0,5.0,5.0,High/ Medium,Normal,M,5'9,150lbs,83.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,80.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,88.0,81.0,94.0,27.000000,24.0,33.0,9.0,9.0,15.0,15.0,11.0,1.998000e+09
71817,K. De Bruyne,29,Belgium,91,91,Manchester City,87000000.0,370000.0,2304,Right,4.0,5.0,4.0,High/ High,Normal,M,5'11,154lbs,94.0,82.0,55.0,94.0,82.0,88.0,85.0,83.0,93.0,92.0,77.0,76.0,78.0,91.0,76.0,91.0,63.0,89.0,74.0,91.0,76.0,66.0,88.0,94.0,84.0,91.0,45.164194,65.0,53.0,15.0,13.0,5.0,10.0,13.0,1.610000e+08
75948,K. De Bruyne,26,Belgium,91,92,Manchester City,104500000.0,400000.0,2234,Right,4.0,5.0,4.0,High/ High,Normal,M,5'11,150lbs,92.0,83.0,54.0,91.0,82.0,86.0,85.0,83.0,87.0,90.0,78.0,76.0,82.0,90.0,79.0,89.0,65.0,88.0,73.0,88.0,73.0,60.0,86.0,92.0,77.0,86.0,40.000000,58.0,51.0,15.0,13.0,5.0,10.0,13.0,2.012000e+09

In [ ]:
df[(df['Position'] == 'D') & (df['Overall'] > 90)]

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
23758,V. van Dijk,27,Netherlands,91,92,Liverpool,90000000.0,240000.0,2111,Right,3.0,3.0,2.0,Medium/ Medium,Normal,D,6'4,203lbs,53.0,52.0,87.0,79.0,45.0,70.0,60.0,70.0,83.0,77.0,74.0,79.0,61.0,89.0,53.0,81.0,90.0,75.0,92.0,64.0,83.0,90.0,47.0,65.0,62.0,90.0,45.164194,93.0,86.0,13.0,10.0,13.0,11.0,11.0,1.733000e+09

In [ ]:
df[(df['Position'] == 'F') & (df['Overall'] > 90)].head(5)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
6789,L. Messi,30,Argentina,94,94,FC Barcelona,118500000.0,575000.0,2161,Left,5.0,4.0,4.0,Medium/ Medium,Normal,F,5'7,159lbs,77.0,95.0,71.0,88.0,86.0,97.0,90.0,92.0,87.0,96.0,92.0,87.0,90.0,95.0,95.0,85.0,67.0,73.0,59.0,88.0,48.0,22.0,93.0,92.0,75.0,97.0,13.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,2.429000e+09
10946,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,400000.0,2228,Right,5.0,4.0,5.0,High/ Low,Normal,F,6'2,183lbs,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,1.271000e+09
18233,Neymar,25,Brazil,92,93,Paris Saint-Germain,119500000.0,275000.0,2105,Right,5.0,5.0,5.0,High/ Medium,Normal,F,5'9,150lbs,75.0,88.0,62.0,82.0,83.0,96.0,82.0,84.0,75.0,95.0,94.0,90.0,96.0,88.0,82.0,80.0,61.0,78.0,53.0,78.0,56.0,36.0,90.0,83.0,81.0,92.0,21.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,2.300000e+08
20313,Cristiano Ronaldo,31,Portugal,94,94,Real Madrid,87000000.0,575000.0,2223,Right,5.0,4.0,5.0,High/ Low,Normal,F,6'1,176lbs,84.0,93.0,85.0,83.0,88.0,92.0,81.0,76.0,77.0,93.0,91.0,92.0,90.0,96.0,63.0,92.0,95.0,92.0,80.0,90.0,63.0,29.0,94.0,85.0,85.0,86.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,4.188829e+07
22815,R. Lewandowski,28,Poland,91,91,FC Bayern München,92000000.0,350000.0,2151,Right,4.0,4.0,3.0,High/ Medium,Normal,F,6'1,174lbs,62.0,91.0,85.0,85.0,89.0,85.0,77.0,84.0,65.0,89.0,79.0,79.0,78.0,91.0,80.0,88.0,84.0,79.0,84.0,84.0,80.0,39.0,91.0,78.0,88.0,87.0,25.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0,1.518000e+09

In [ ]:
df[(df['Position'] == 'GK') & (df['Overall'] > 90)]

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
31645,De Gea,26,Spain,91,93,Manchester United,74500000.0,300000.0,1465,Right,4.0,3.0,1.0,Medium/ Medium,Lean,GK,6'4,168lbs,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,40.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,64.0,13.000000,21.0,13.0,90.0,85.0,87.0,88.0,93.0,1.434000e+09
31683,J. Oblak,26,Slovenia,91,93,Atlético Madrid,77500000.0,125000.0,1412,Right,3.0,3.0,1.0,Medium/ Medium,Normal,GK,6'2,192lbs,13.0,11.0,15.0,43.0,13.0,12.0,13.0,14.0,40.0,30.0,43.0,60.0,67.0,88.0,49.0,59.0,78.0,41.0,78.0,12.0,34.0,19.0,11.0,65.0,11.0,68.0,45.164194,12.0,18.0,87.0,92.0,78.0,90.0,89.0,1.647000e+09
44902,J. Oblak,27,Slovenia,91,93,Atlético Madrid,75000000.0,125000.0,1413,Right,3.0,3.0,1.0,Medium/ Medium,Normal,GK,6'2,192lbs,13.0,11.0,15.0,43.0,13.0,12.0,13.0,14.0,40.0,30.0,43.0,60.0,67.0,88.0,49.0,59.0,78.0,41.0,78.0,12.0,34.0,19.0,11.0,65.0,11.0,68.0,45.164194,12.0,18.0,87.0,92.0,78.0,90.0,90.0,1.594000e+09
71509,J. Oblak,25,Slovenia,91,93,Atlético Madrid,75500000.0,120000.0,1330,Right,3.0,3.0,1.0,Medium/ Medium,Normal,GK,6'2,192lbs,13.0,11.0,15.0,29.0,13.0,12.0,13.0,14.0,26.0,16.0,43.0,60.0,67.0,88.0,49.0,22.0,76.0,41.0,78.0,12.0,34.0,19.0,11.0,65.0,11.0,70.0,27.000000,12.0,18.0,86.0,92.0,78.0,90.0,89.0,1.604000e+09

In [ ]:
def ht_convert(val):
    foot = val.split("'")[0]
    inch = val.split("'")[1]
    h = (int(foot) * 30.48) + (int(inch)*2.54)
    return h

df['Height'] = df['Height'].apply(ht_convert)

In [ ]:
def wt_converter(val):
    wt = int(val.split('lbs')[0])
    return wt

df['Weight'] = df['Weight'].apply(wt_converter)

In [ ]:
df['Weight']=df['Weight'].astype('int64')
df['Height']=df['Height'].astype('int64')

In [ ]:
df['Release Clause'].unique()

array([4.18882864e+07, 4.20000000e+07, 9.78000000e+05, ...,
       5.99000000e+05, 6.68000000e+08, 7.84000000e+08])

In [ ]:
df[(df['Height']>200) & (df['Weight']>230)]

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
36552,K. Van Hout,29,Belgium,67,67,KVC Westerlo,625000.0,7000.0,1027,Right,1.0,3.0,1.0,Medium/ Medium,Lean,SUB,205,243,18.0,13.0,17.0,29.0,12.0,15.0,13.0,15.0,28.0,24.0,22.0,35.0,16.0,57.0,12.0,36.0,33.0,21.0,85.0,19.0,37.0,17.0,12.0,37.0,25.0,42.0,19.0,16.0,13.0,71.0,67.0,60.0,68.0,65.0,41888286.44
38222,17 K. Van Hout,29,Belgium,67,67,KVC Westerlo,625000.0,7000.0,1027,Right,1.0,3.0,1.0,Medium/ Medium,Lean,SUB,205,243,18.0,13.0,17.0,29.0,12.0,15.0,13.0,15.0,28.0,24.0,22.0,35.0,16.0,57.0,12.0,36.0,33.0,21.0,85.0,19.0,37.0,17.0,12.0,37.0,25.0,42.0,19.0,16.0,13.0,71.0,67.0,60.0,68.0,65.0,41888286.44
77737,C. Pantilimon,30,Romania,71,71,Nottingham Forest,1500000.0,15000.0,1118,Right,1.0,2.0,1.0,Medium/ Medium,Lean,GK,203,243,19.0,11.0,16.0,38.0,13.0,15.0,15.0,12.0,36.0,22.0,48.0,42.0,33.0,66.0,22.0,14.0,34.0,31.0,78.0,15.0,40.0,27.0,12.0,38.0,21.0,65.0,14.0,19.0,17.0,68.0,69.0,66.0,73.0,74.0,41888286.44

In [ ]:
df['Release Clause'].unique()

array([4.18882864e+07, 4.20000000e+07, 9.78000000e+05, ...,
       5.99000000e+05, 6.68000000e+08, 7.84000000e+08])

In [ ]:
df.corr()['Value']

<ipython-input-246-0135f5c0fc4d>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Value']

Age                         0.101503
Overall                     0.622858
Potential                   0.566984
Value                       1.000000
Wage                        0.840662
Special                     0.378898
International Reputation    0.604331
Weak Foot                   0.164049
Skill Moves                 0.267473
Height                      0.011439
Weight                      0.049280
Crossing                    0.242700
Finishing                   0.245112
HeadingAccuracy             0.180760
ShortPassing                0.321486
Volleys                     0.274189
Dribbling                   0.260751
Curve                       0.278450
FKAccuracy                  0.251396
LongPassing                 0.300390
BallControl                 0.297666
Acceleration                0.168116
SprintSpeed                 0.171815
Agility                     0.195464
Reactions                   0.541708
Balance                     0.111956
ShotPower                   0.294290
Jumping                     0.141913
Stamina                     0.219031
Strength                    0.149752
LongShots                   0.268247
Aggression                  0.190266
Interceptions               0.144569
Positioning                 0.251026
Vision                      0.354542
Penalties                   0.225573
Composure                   0.427222
Marking                     0.072000
StandingTackle              0.112580
SlidingTackle               0.092080
GKDiving                   -0.013984
GKHandling                 -0.013162
GKKicking                  -0.016750
GKPositioning              -0.013226
GKReflexes                 -0.013370
Release Clause              0.846456
Name: Value, dtype: float64

In [ ]:
df.head(1)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,J. Stockley,22,England,61,68,Aberdeen,325000.0,2000.0,1399,Right,1.0,3.0,2.0,Medium/ Low,Normal,SUB,187,174,31.0,64.0,69.0,46.0,29.0,51.0,33.0,29.0,38.0,57.0,70.0,67.0,57.0,52.0,45.0,64.0,62.0,51.0,75.0,43.0,61.0,37.0,59.0,31.0,63.0,32.0,16.0,25.0,18.0,14.0,6.0,15.0,9.0,12.0,41888286.44

In [ ]:
df['Release Clause'].unique()

array([4.18882864e+07, 4.20000000e+07, 9.78000000e+05, ...,
       5.99000000e+05, 6.68000000e+08, 7.84000000e+08])

In [ ]:
categories = [col for col in df.columns if df[col].dtypes == 'O']
numeric = [col for col in df.columns if df[col].dtypes != 'O']

In [ ]:
df.drop(['Name','Special'], inplace=True, axis=1)

In [ ]:
print(df['Nationality'].nunique())
print(df['Club'].nunique())

182
947

In [ ]:
def join_nations(x):
    if x >= 68:
        return 'Class A'
    elif x >= 65 and x < 68:
        return 'Class B'
    elif x >= 20and x < 65:
        return 'Class C'

In [ ]:
countries_class = {}
for nation in df['Nationality'].unique():
    a = np.average(df[df['Nationality'] == nation]['Overall'])
    countries_class[nation] = join_nations(a)

In [ ]:
df['Nationality'].replace(countries_class, inplace=True)

In [ ]:
def join_clubs(x):
    if x >= 68:
        return 'Group A'
    elif x >= 64 and x < 68:
        return 'Group B'
    elif x >= 20 and x < 64:
        return 'Group C'

In [ ]:
clubs_group = {}
for club in df['Club'].unique():
    a = np.average(df[df['Club'] == club]['Overall'])
    clubs_group[club] = join_clubs(a)

In [ ]:
df['Club'].replace(clubs_group, inplace=True)

In [ ]:
df.head()

,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,22,Class C,61,68,Group B,325000.0,2000.0,Right,1.0,3.0,2.0,Medium/ Low,Normal,SUB,187,174,31.0,64.0,69.0,46.0,29.0,51.0,33.0,29.0,38.0,57.0,70.0,67.0,57.0,52.0,45.0,64.0,62.0,51.0,75.0,43.0,61.0,37.0,59.0,31.0,63.0,32.0,16.000000,25.0,18.0,14.0,6.0,15.0,9.0,12.0,41888286.44
1,25,Class C,57,58,Group C,140000.0,500.0,Right,1.0,4.0,2.0,High/ Medium,Normal,M,177,154,61.0,58.0,49.0,51.0,45.0,59.0,53.0,51.0,49.0,58.0,61.0,62.0,61.0,52.0,52.0,54.0,60.0,55.0,56.0,55.0,35.0,26.0,52.0,55.0,55.0,51.0,29.000000,38.0,37.0,6.0,12.0,13.0,12.0,10.0,41888286.44
2,23,Class C,71,76,Group B,3200000.0,7000.0,Right,1.0,3.0,3.0,Medium/ Low,Lean,F,175,146,70.0,67.0,49.0,72.0,56.0,70.0,68.0,70.0,71.0,72.0,77.0,75.0,74.0,69.0,72.0,68.0,62.0,69.0,59.0,70.0,53.0,51.0,71.0,75.0,56.0,66.0,45.164194,36.0,31.0,13.0,15.0,6.0,15.0,6.0,42000000.00
3,18,Class C,71,86,Group A,2900000.0,10000.0,Right,1.0,2.0,1.0,Medium/ Medium,Lean,RES,190,190,19.0,12.0,13.0,35.0,12.0,20.0,12.0,20.0,32.0,18.0,46.0,42.0,33.0,72.0,54.0,18.0,57.0,34.0,56.0,18.0,19.0,21.0,15.0,62.0,21.0,22.0,18.000000,16.0,16.0,68.0,68.0,70.0,71.0,74.0,41888286.44
4,19,Class A,64,75,Group A,575000.0,2000.0,Right,1.0,2.0,1.0,Medium/ Medium,Lean,SUB,185,174,13.0,17.0,15.0,27.0,14.0,12.0,15.0,18.0,24.0,15.0,41.0,46.0,48.0,62.0,52.0,25.0,63.0,28.0,48.0,19.0,21.0,8.0,12.0,32.0,28.0,27.0,10.000000,15.0,12.0,65.0,64.0,59.0,60.0,65.0,978000.00

In [ ]:
df['Nationality'].value_counts()

Class C    30005
Class B    28680
Class A    28581
Name: Nationality, dtype: int64

In [ ]:
df['Club'].value_counts()

Group B    33875
Group A    28002
Group C    25389
Name: Club, dtype: int64

In [ ]:
remove_features = ['Age', 'Height', 'Weight', 'SlidingTackle',
                          'GKDiving', 'GKHandling', 'GKKicking', 'GKReflexes']

In [ ]:
df.drop(remove_features, axis=1, inplace=True)

In [ ]:
df['Position'].unique()

array(['SUB', 'M', 'F', 'RES', 'D', 'GK'], dtype=object)

In [ ]:
df.head(1)

,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,Release Clause
0,22,Class C,61,68,Group B,325000.0,2000.0,1399,Right,1.0,3.0,2.0,Medium/ Low,Normal,SUB,31.0,64.0,69.0,46.0,29.0,51.0,33.0,29.0,38.0,57.0,70.0,67.0,57.0,52.0,45.0,64.0,62.0,51.0,75.0,43.0,61.0,37.0,59.0,31.0,63.0,32.0,16.0,25.0,18.0,41888286.44

In [ ]:
df['Weak Foot'] = ((df['Weak Foot']/5)*100)

In [ ]:
cols = ['Weak Foot', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
          'Curve', 'FKAccuracy', 'LongPassing', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
          'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
          'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
         'Marking', 'StandingTackle','SlidingTackle']

In [ ]:
df['Skill Moves'] = round(df[cols].mean(axis=1),0)

In [ ]:
df.drop(cols, inplace=True, axis=1)

In [ ]:
df.head()

,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Skill Moves,Work Rate,Body Type,Position,Release Clause
0,22,Class C,61,68,Group B,325000.0,2000.0,1399,Right,1.0,47.0,Medium/ Low,Normal,SUB,41888286.44
1,25,Class C,57,58,Group C,140000.0,500.0,1482,Right,1.0,52.0,High/ Medium,Normal,M,41888286.44
2,23,Class C,71,76,Group B,3200000.0,7000.0,1820,Right,1.0,64.0,Medium/ Low,Lean,F,42000000.00
3,18,Class C,71,86,Group A,2900000.0,10000.0,1162,Right,1.0,29.0,Medium/ Medium,Lean,RES,41888286.44
4,19,Class A,64,75,Group A,575000.0,2000.0,1053,Right,1.0,27.0,Medium/ Medium,Lean,SUB,978000.00

In [ ]:
categories = [col for col in df.columns if df[col].dtypes == 'O']
numeric = [col for col in df.columns if df[col].dtypes != 'O']

In [ ]:
df[categories]

      Nationality     Club Preferred Foot       Work Rate Body Type Position
0         Class C  Group B          Right     Medium/ Low    Normal      SUB
1         Class C  Group C          Right    High/ Medium    Normal        M
2         Class C  Group B          Right     Medium/ Low      Lean        F
3         Class C  Group A          Right  Medium/ Medium      Lean      RES
4         Class A  Group A          Right  Medium/ Medium      Lean      SUB
...           ...      ...            ...             ...       ...      ...
87637     Class C  Group B          Right  Medium/ Medium    Normal      RES
87638     Class A  Group C           Left       High/ Low    Stocky      RES
87639     Class A  Group B          Right  Medium/ Medium    Normal      SUB
87640     Class C  Group B          Right      High/ High      Lean        M
87641     Class B  Group B           Left    High/ Medium    Normal        D

[87266 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Preferred Foot'] = le.fit_transform(df['Preferred Foot'])

In [ ]:
data = pd.get_dummies(df, drop_first=True)

In [ ]:
data.head()

,Age,Overall,Potential,Value,Wage,Special,Preferred Foot,International Reputation,Skill Moves,Release Clause,Nationality_Class B,Nationality_Class C,Club_Group B,Club_Group C,Work Rate_High/ Low,Work Rate_High/ Medium,Work Rate_Low/ High,Work Rate_Low/ Low,Work Rate_Low/ Medium,Work Rate_Medium/ High,Work Rate_Medium/ Low,Work Rate_Medium/ Medium,Work Rate_N/A/ N/A,Body Type_Normal,Body Type_Stocky,Position_F,Position_GK,Position_M,Position_RES,Position_SUB
0,22,61,68,325000.0,2000.0,1399,1,1.0,47.0,41888286.44,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1
1,25,57,58,140000.0,500.0,1482,1,1.0,52.0,41888286.44,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,23,71,76,3200000.0,7000.0,1820,1,1.0,64.0,42000000.00,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,18,71,86,2900000.0,10000.0,1162,1,1.0,29.0,41888286.44,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,19,64,75,575000.0,2000.0,1053,1,1.0,27.0,978000.00,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1

In [ ]:
x=data.drop('Value', axis=1)
y=data['Value']

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [ ]:
x=data.drop('Value', axis=1)
y=data['Value']
lasso_model = SelectFromModel(Lasso(max_iter=3000, tol=0.01))

In [ ]:
lasso_model.fit(x, y)

SelectFromModel(estimator=Lasso(max_iter=3000, tol=0.01))

In [ ]:
lasso_sel = x.columns[lasso_model.get_support()]

In [ ]:
print(f'''Lasso Model
Total features: {x.shape[1]}
Selected featrues: {len(lasso_sel)}
Features shrink to 0: {np.sum(lasso_model.estimator_.coef_ == 0)}''')

Lasso Model
Total features: 29
Selected featrues: 29
Features shrink to 0: 0

In [ ]:
lasso_sel.tolist()

['Age',
 'Overall',
 'Potential',
 'Wage',
 'Special',
 'Preferred Foot',
 'International Reputation',
 'Skill Moves',
 'Release Clause',
 'Nationality_Class B',
 'Nationality_Class C',
 'Club_Group B',
 'Club_Group C',
 'Work Rate_High/ Low',
 'Work Rate_High/ Medium',
 'Work Rate_Low/ High',
 'Work Rate_Low/ Low',
 'Work Rate_Low/ Medium',
 'Work Rate_Medium/ High',
 'Work Rate_Medium/ Low',
 'Work Rate_Medium/ Medium',
 'Work Rate_N/A/ N/A',
 'Body Type_Normal',
 'Body Type_Stocky',
 'Position_F',
 'Position_GK',
 'Position_M',
 'Position_RES',
 'Position_SUB']

In [ ]:
x = data.drop('Value', axis=1)
y = data['Value']

In [ ]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
x_new = sc.fit_transform(x)
y_new = np.log(y+0.0000001)

In [ ]:
tar = sc.fit_transform(np.array(y_new).reshape(-1,1))
data['Value'] = np.concatenate(tar)

In [ ]:
x_new = data.drop('Value', axis=1)
y_new = data['Value']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_new,y_new, test_size=0.2, random_state=2)

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

xgb = XGBRegressor(learning_rate=0.5)
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_test)
print(r2_score(y_test, y_pred))
print(np.sqrt(mean_squared_error(y_test, y_pred)))

0.9778815172611175
0.01843241950882356

In [ ]:
import pickle
pickle.dump(xgb, open('model1.pkl', 'wb'))

In [ ]:
!pip install boruta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boruta
  Downloading Boruta-0.3-py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.6/56.6 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.10/dist-packages (from boruta) (1.22.4)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.10/dist-packages (from boruta) (1.2.2)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.10/dist-packages (from boruta) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.17.1->boruta) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.17.1->boruta) (3.1.0)
Installing collected packages: boruta
Successfully installed boruta-0.3

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from boruta import boruta_py

rf = GradientBoostingRegressor()
Main_features = boruta_py.BorutaPy(rf, n_estimators='auto', verbose=2)

In [ ]:
# Main_features.fit(np.array(x), np.array(y))

In [ ]:
x.columns[Main_features.support_]

In [ ]:
data.columns

In [ ]:
ndf = data[['Age', 'Overall', 'Potential', 'Value', 'Wage', 'Special','International Reputation', 'Skill Moves','Release Clause','Club_Group B', 'Club_Group C']]

In [ ]:
ndf.head()

,Age,Overall,Potential,Value,Wage,Special,International Reputation,Skill Moves,Release Clause,Club_Group B,Club_Group C
0,22,61,68,0.829845,2000.0,1399,1.0,47.0,41888286.44,1,0
1,25,57,58,0.805587,500.0,1482,1.0,52.0,41888286.44,0,1
2,23,71,76,0.895723,7000.0,1820,1.0,64.0,42000000.00,1,0
3,18,71,86,0.892888,10000.0,1162,1.0,29.0,41888286.44,0,0
4,19,64,75,0.846280,2000.0,1053,1.0,27.0,978000.00,0,0

In [ ]:
x = ndf.drop('Value', axis=1)
y = ndf['Value']

In [ ]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
x_new = sc.fit_transform(x)
# y_new = np.log(y+0.0000001)
tar = sc.fit_transform(np.array(y_new).reshape(-1,1))
data['Value'] = np.concatenate(tar)

In [ ]:
pickle.dump(sc, open('scale_target.pkl', 'wb'))

In [ ]:
x_new = ndf.drop('Value', axis=1)
y_new = ndf['Value']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_new,y_new, test_size=0.2, random_state=2)

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

xgb = XGBRegressor(learning_rate=0.5)
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_test)
print(r2_score(y_test, y_pred))
print(np.sqrt(mean_squared_error(y_test, y_pred)))

0.9767644212072578
0.018892151841701163

In [ ]:
import pickle
pickle.dump(xgb, open('model3.pkl', 'wb'))

In [ ]:
from sklearn.preprocessing import StandardScaler

mm = StandardScaler()
x_new = mm.fit_transform(x)
y_new = np.log(y+0.0000001)

In [ ]:
x_new = ndf.drop('Value', axis=1)
y_new = ndf['Value']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_new,y_new, test_size=0.2, random_state=2)

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

xgb = XGBRegressor(learning_rate=0.5)
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_test)
print(r2_score(y_test, y_pred))
print(np.sqrt(mean_squared_error(y_test, y_pred)))

0.9767644212072578
0.018892151841701163

In [ ]:
import pickle
pickle.dump(xgb, open('model5.pkl', 'wb'))

In [ ]:
sns.distplot(df['Value'])

In [ ]:
y = np.log(df['Value']+0.0000001)

In [ ]:
sns.distplot(y)